<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="InetBankingV1">

	<listeners>
		<listener class-name="com.inetbanking.utilities.Reporting"></listener>
	</listeners>

	<test name="Banking app Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<!-- <class name="com.inetbanking.testCases.TC_LoginTest_001" />
			<class name="com.inetbanking.testCases.TC_AddCustomerTest_003" />
			<class name="com.inetbanking.testCases.TC_LoginTestTDD_002" />
			<class name="com.inetbanking.testCases.TC_EditCustomerTest_004" />
			<class name="com.inetbanking.testCases.TC_DeleteCustomerTest_005" /> 
			<class name="com.inetbanking.testCases.TC_CreateAccountTest_006"/>
			<class name="com.inetbanking.testCases.TC_EditAccountTest_007"/>
			<class name="com.inetbanking.testCases.TC_DeleteAccountPageTest_008"/>
			<class name="com.inetbanking.testCases.TC_DepositePageTest_009"/>
			<class name="com.inetbanking.testCases.TC_WithdrawalTest_010"/>
			<class name="com.inetbanking.testCases.TC_FundTransferTest_011"/>
			<class name="com.inetbanking.testCases.TC_BalanceEnquiryTest_012"/>
			<class name="com.inetbanking.testCases.TC_MiniStatementTest_013"/>-->
			<class name="com.inetbanking.testCases.TC_CustomStatementTest_014"/>
		</classes>
	</test>

</suite>